* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    border: 0;
}

body {
    width: 100%;
    height: 100vh;
}

header {
    width: 100%;
    height: 105px;
    background: #D9D9D9;
    display: flex;
    justify-content: center;
    align-items: center;
}

header div {
    width: 1440px;
}

header div img {
    width: 261px;
    height: auto;
}


main {
    width: 100%;
    height: 868px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.containerPricipal {
    width: 1440px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.game {
    height: 580px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 20px;
}

.game .titulo h1 {
    color: #FF0049;
    font-size: 2.1rem;
}

.game .app {
    width: 660px;
    height: 500px;
    background: #3E01FB;
    border-radius: 40px;
}
header div img:hover {
    transform: scale(1.05);
    transition: transform 0.3s, box-shadow 0.3s;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container button {
    width: 80%;
    height: 45px;
    border-radius: 40px;
    background: #D9D9D9;
    margin-top: 10px;
    font-size: 16px;
}

.container button:hover {
    background: #d9d9d9c9;
    font-size: 18px;
}

.saidaPergunta {
    background: #FDDC63;
    width: 70%;
    height: 120px;
    border-radius: 40px;
    margin-top: 30px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    text-align: center;
}

.containerImagemPessoa img {
    height: 864px;
    position: absolute;
    right: 0;
    top: 0;
}

/* teste */

.resposta-errada {
    border: 2px solid red;
}

.resposta-correta {
    border: 4px rgb(40, 223, 40) solid;
    background-color: rgb(40, 223, 40);
}


.creditos {
    margin: 20px;
    color: white;
}