:root {
  --white: #fff;
  --purple: #5252c7;
  --gray-light: #606060;
  --bg-input: #f3f5f7;
  --bg-button: #007AFF;
  --bg-icon: #5151c6;
  --color-placehold: #bdbdbd;
  --outline-input: #888BF4;
  --error: #E95050;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
}